* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Mate SC', serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  font-style: normal;
}

img {
  width: 100%;
  display: block;
}

.container {
  max-width: 480px;
  margin: 0 auto;
  padding: 15px;
}

@media screen and (min-width: 640px) {
  .container {
    max-width: 640px;
  }
}

@media screen and (min-width: 960px) {
  .container {
    max-width: 960px;
  }
}

.header {
  border-bottom: 1px solid #D7DDE2;
}

.header__mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
}

.header__wrapper-shop {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__svg {
  fill: #7A7A7A;
}

.header__label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Great Vibes', cursive;
  color: #7A7A7A;
}

@media screen and (min-width: 640px) {
  .header__label {
    font-size: 25px;
  }
}

@media screen and (min-width: 960px) {
  .header__label {
    font-size: 40px;
  }
}

.header__wrapper-png {
  width: 30px;
  height: 30px;
}

@media screen and (min-width: 960px) {
  .header__wrapper-png {
    width: 50px;
    height: 50px;
  }
}

.header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper-loupe {
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__wrapper-menu {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 20px;
  height: 20px;
  border: none;
  background-color: white;
}

@media screen and (min-width: 960px) {
  .header__wrapper-menu {
    display: none;
  }
}

.wide-menu {
  padding: 30px 20px 40px 20px;
}

@media screen and (max-width: 959px) {
  .wide-menu {
    display: none;
  }
}

.wide-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wide-menu__btn {
  background-color: #FFFFFF;
  color: #41474B;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  border: none;
}

.footer {
  background-color: #EBE5E0;
}

.footer__social-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.footer__item {
  margin-left: 10px;
}

.footer__item:first-child {
  margin-left: 0;
}

.footer__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  border-radius: 50%;
  border: 2px solid #FFFFFF;
}

.footer__link:focus, .footer__link:hover {
  background-color: #FFFFFF;
}

.footer__link:focus .footer__icon, .footer__link:hover .footer__icon {
  fill: #000000;
}

.footer__icon {
  fill: #FFFFFF;
}

.footer__text {
  margin-top: 20px;
  font-size: 12px;
}

.catalog__description-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  width: 100%;
  padding: 15px 0 20px 0;
  bottom: 0;
  color: #41474B;
  opacity: 0.7;
  background-color: #EBE5E0;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

@media screen and (max-width: 639px) {
  .catalog__description-wrapper {
    font-size: 20px;
  }
}

.catalog__description-letter {
  text-transform: none;
}

.catalog__description-border {
  border: 2px solid #41474B;
  padding: 2px;
  margin-top: 7px;
}

.catalog__description.catalog__active {
  color: #FFFFFF;
  text-align: center;
  background-color: #41474B;
  padding: 0 10px 0 10px;
  text-transform: none;
}

@media screen and (max-width: 639px) {
  .catalog__description.catalog__active {
    font-size: 14px;
  }
}

.catalog__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.catalog__item {
  position: relative;
  max-width: 100%;
  margin: 10px;
}

@media screen and (min-width: 480px) {
  .catalog__item {
    max-width: 480px;
  }
}

@media screen and (min-width: 640px) {
  .catalog__item {
    max-width: calc( ( 100% - 2 * 20px) / 2);
  }
}

@media screen and (min-width: 960px) {
  .catalog__item {
    max-width: calc( ( 100% - 3 * 20px) / 3);
  }
}

@media screen and (min-width: 640px) {
  .catalog__wrapper-img {
    height: 450px;
  }
}

.catalog__img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.message__btn {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  right: 50px;
  bottom: 50px;
  border: none;
  border-radius: 8px;
  color: #41474B;
  background-color: #AFBBC4;
  padding-right: 10px;
}

.message__wrapper-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 30px;
  width: 40px;
  background-color: #A2ADB6;
  margin-right: 10px;
  border-radius: 8px 0 0 8px;
}

.message__icon {
  fill: #41474B;
}

.backdrop-menu {
  display: none;
  background-color: #EBE5E0;
  padding: 40px;
}

@media screen and (max-width: 959px) {
  .backdrop-menu {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    left: 0;
  }
}

.backdrop-menu.is-active {
  display: block;
}

@media screen and (min-width: 960px) {
  .backdrop-menu.is-active {
    display: none;
  }
}

.backdrop-menu__wrapper {
  position: absolute;
  left: 20px;
  top: 20px;
  border: none;
  background-color: #EBE5E0;
}

.backdrop-menu__svg {
  fill: #41474B;
  height: 15px;
}

.mobile-menu__list {
  margin-left: 30px;
}

.mobile-menu__item {
  margin-top: 25px;
}

.mobile-menu__btn {
  border: none;
  background-color: #EBE5E0;
  letter-spacing: 0.1em;
  font-size: 30px;
  color: #FFFFFF;
}

.mobile-menu__svg {
  height: 15px;
  fill: #FFFFFF;
}

.search {
  width: 100%;
  text-align: center;
  min-height: 500px;
  padding-top: 50px;
}

.search__wrapper {
  position: relative;
  margin-bottom: 50px;
}

.search__input {
  width: 100%;
  padding: 10px 100px 10px 10px;
  border-radius: 20px;
  border: 2px solid #7A7A7A;
  outline: none;
}

@media screen and (min-width: 480px) {
  .search__input {
    width: 380px;
  }
}

@media screen and (min-width: 640px) {
  .search__input {
    width: 550px;
  }
}

@media screen and (min-width: 960px) {
  .search__input {
    width: 800px;
  }
}

.search__btn {
  position: absolute;
  top: 7px;
  right: 10px;
  padding: 4px 12px;
  border-radius: 20px;
  border: 0.1px solid #7A7A7A;
  color: #7A7A7A;
  background-color: #FFFFFF;
}

@media screen and (min-width: 480px) {
  .search__btn {
    right: 55px;
  }
}

@media screen and (min-width: 640px) {
  .search__btn {
    right: 50px;
  }
}

@media screen and (min-width: 960px) {
  .search__btn {
    right: 85px;
  }
}

.search__result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: -10px;
}

.full-description__item {
  position: relative;
  max-width: 100%;
  margin: 10px;
}

@media screen and (min-width: 480px) {
  .full-description__item {
    max-width: 480px;
  }
}

@media screen and (min-width: 640px) {
  .full-description__item {
    max-width: calc( ( 100% - 2 * 20px) / 2);
  }
}

.full-description__text {
  text-align: left;
  margin-top: 30px;
  font-size: 20px;
  color: #41474B;
}
/*# sourceMappingURL=main.css.map */