@import './base/base';
@import './utils/variables';
@import './components/header';
@import './components/footer';
@import './components/catalog';
@import './components/message';
@import './components/backdrop-menu';
@import './components/search';
@import './components/main-gallery';