.header {
    // border-bottom: 1px solid $bg-gray-light;
    border-bottom: 1px solid $brand-gold;
}
.header__mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
}
.header__wrapper-shop {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__svg {
    fill: $brand-gold;
    // fill: $fill-gray;
}
.header__label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Great Vibes', cursive;
    color: $fill-gray;
    @media screen and (min-width: 640px) {
        font-size: 25px;
    }
    @media screen and (min-width: 960px) {
        font-size: 40px;
    }
}
.header__wrapper-png {
    width: 30px;
    height: 30px;
    @media screen and (min-width: 960px) {
        width: 50px;
        height: 50px;
    }
}
.header__nav {
    display: flex;
    align-items: center;
}
.header__wrapper-loupe {
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__wrapper-menu {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 20px;
    height: 20px;
    border: none;
    background-color: white;
    @media screen and (min-width: 960px) {
        display: none;
    }
}

.wide-menu {
    padding: 30px 20px 40px 20px;
    @media screen and (max-width: 959px) {
        display: none;
    }
}
.wide-menu__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
// .wide-menu__item {
    
// }
.wide-menu__btn {
    background-color: $brand-white;
    color: $fiil-gray-dark;
    text-transform: uppercase;
    letter-spacing: 0.2em;
    border: none;
}