.main-gallery__item {
  position: absolute;
  // transition: opacity 1s linear;
  opacity: 0;
  max-width: 100%;
  margin: 10px;
  @media screen and (min-width: 640px) {
    height: 400px;
    margin: 0 auto;
  }
  @media screen and (min-width: 960px) {
    height: 500px;
    margin: 0 auto;
  }
}
.main-gallery__item.absolute-opacity {
  position: relative;
  // transition: opacity 1s linear;
  opacity: 1;
}
.main-gallery__wrapper-img {
  @media screen and (min-width: 640px) {
    height: 400px;
  }
  @media screen and (min-width: 960px) {
    height: 500px;
  }
}
.main-gallery__img {
  height: 100%;
  object-fit: cover;
}
