$bg-gray-dark: #AFBBC4;
$bg-gray-light: #D7DDE2;
$bg-footer: #EBE5E0;
$bg-gray-message: #A2ADB6;
$fill-gray: #7A7A7A;
$fiil-gray-dark: #41474B;
$brand-white: #FFFFFF;
$brand-black: #000000;
$brand-gold: #C8B895;